body{
    background-image: url(https://images6.alphacoders.com/882/thumb-1920-882546.jpg);
    background-size:cover;
    opacity: 0.8;
}

.main.container{
    margin-top:7em;

}

#delete{
    display:inline;
}

#footer{
    text-align: center;
}

ui.button{
    margin-top:7em;
}

#foot{
    margin-top: 2em;
}
#backto{
    margin-left: 20em;
}
.logn{
    
    display: flex;
   
}