






   

    <div class="ui  vertical footer  segment form-page" id="footer">
        <div class="ui container">
           All Rights Reserved
          <i class="ui copyright icon"></i> 
          <Strong>Mihir Sidhdhapura</Strong>
        </div>
    
      </div>
    </bod>
</html>