<%- include("../partials/header"); %>

<div class="ui segment container">
    <form action="/login" method="POST" class="ui form ">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password" >
        <button class="ui green basic button"> Login</button>
    
    </form>

</div>



<%- include("../partials/footer"); %>